@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

