@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body>* {
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: #FBDD0D;
}

/*style for body background and character pictures*/
.index,
.side {
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.container-pick-side {
  display: flex;

  justify-content: center;
  width: 70%;
  height: 400px;
  margin: 15%;
}

.side {
  width: 45%;
  height: 400px;
  margin: 5%;
  background-size: cover;
}

.index {
  background-image: url('../images/stars.jpg');
}

.dark-side,
.light-side {
  border: 5px solid #ffd0d0;
  border-radius: 20%;
}

/*Learn how to do shadow https://www.youtube.com/watch?v=XFuilG5FAIc*/
.dark-side {
  background-image: url('../images/darth-vader.jpg');
  box-shadow: 0 0 70px #f00;
}

.light-side {
  background-image: url('../images/yoda.jpg');
  box-shadow: 0 0 70px #0f0;
}

.dark-side:before,
.light-side:before {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: #fff;
}

img {
  max-width: 100%;
  object-fit: cover;
}

/*style for heading*/
.heading {
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5%;
}

/*Main button*/
.button {
  text-align: center;
  align-items: center;
  background-color: black;
  color: #FBDD0D;
  width: 30%;
  margin: 10% 35%;
  height: 100px;
  font-size: 35px;
  border: 5px solid #FBDD0D;
  cursor: pointer;
}

/*https://www.w3schools.com/howto/howto_css_modals.asp to learn how to buid a modal*/
/*Modal main page*/
/*The Modal (background)*/
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 200px;
  /* Full height */
}

/* Modal Content/Box */
.modal-content {
  background-color: #F8F6F3;
  margin: 10% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 3px solid #FBDD0D;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/*Footer*/
.page-container {
  position: relative;
  min-height: 100vh;
}

.container-footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background-color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.container-footer>* {
  color: #FBDD0D;
  margin: 0 2%;
}

i {
  font-size: 170%;
}