/*Style CSS font and body*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body>* {
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: #bfda46;
}

li {
  margin: 1% 5%;
  list-style: none;
}

h3 {
  text-align: center;
  text-shadow: 1px 1px 2px #0783be, 0 0 1em white, 0 0 0.2em #0783be;
}

/*style for body background and container pick side*/
.index,
.side {
  background-repeat: no-repeat;
  background-size: cover;
}

.container-pick-side {
  justify-content: center;
  width: 90%;
  height: 100%;
  margin: 2% 5% 1%;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-direction {
  flex-direction: column;
}

.side {
  width: 40%;
  height: 440px;
  margin: 7% 5% 5%;
  background-position: center;
}

.page-container {
  background-image: url('../images/space.webp');
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

/*style for specific pick side container and hover effect*/
#dark-side,
#light-side {
  border: 5px solid #ffd0d0;
  border-radius: 20%;
  background-color: transparent;
}

#dark-side:hover,
#light-side:hover {
  background-color: #112948;
}

/*Learn how to do shadow https://www.youtube.com/watch?v=XFuilG5FAIc*/
#dark-side {
  background-image: url('../images/darth-vader1.png');
  box-shadow: 0 0 70px #f00;
}

#light-side {
  background-image: url('../images/yoda1.png');
  box-shadow: 0 0 70px #0f0;
}

#dark-side:before,
#light-side:before {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

/*style for heading*/
.heading {
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2%;
  color: #0783be;
  text-shadow: 1px 1px 2px white, 0 0 1em #0783be, 0 0 0.2em #0783be;
}

/*Style for div with questions and answer*/
#game-area {
  background-color: transparent;
  color: #ddd;
  width: 70%;
  height: 400px;
  margin: 0 15%;
  text-align: center;
}

.answer:hover {
  transform: scale(1.2);
}

#question {
  font-size: 33px;
  margin: 3%;
  text-shadow: 1px 1px 2px #0783be, 0 0 1em #112948, 0 0 0.2em #d8c6c6;
}

/*different border for main page, green if picked light side and red for dark side add from js*/
.border-blue {
  border: 5px solid #0783be;
}

.border-green {
  border: 5px solid #bfda46;
}

.border-red {
  border: 5px solid rgb(136, 0, 0);
}

/*Main buttons*/
button {
  text-align: center;
  justify-content: center;
  background-color: #112948;
  color: #ddd;
  font-weight: bold;
  height: 80px;
  width: 35%;
  margin: 5%;
  font-size: 20px;
  border-radius: 20%;
  cursor: pointer;
  box-shadow: 0 0 20px #0783be;
}

.final-btn:hover {
  color: #112948;
  background-color: #ddd;
}

.btn-open-instruction:hover,
.btn-open-username:hover,
.btn-open-leaderboard:hover,
.button-home:hover,
.home-btn:hover,
.sound-btn:hover,
select#levels:hover {
  background-color: #ddd;
  color: #112948;
}

.hide,
.hidden {
  display: none;
}

/*Class for correct answer button or incorrect answer button when clicked*/
.correct-answer {
  background-color: #bfda46;
  box-shadow: 0 0 70px #0f0;
  color: #112948;
}

.incorrect-answer {
  background-color: rgb(136, 0, 0);
  box-shadow: 0 0 70px #f00;
}

/*Score container and small divs inside to change color when is correct or wrong clicked answer*/
#score-container {
  text-align: center;
  display: flex;
  border-radius: 4px;
  padding: 8px;
  margin: 0 16px;
  width: auto;
  margin: 5% auto;
  justify-content: center;
}

.score-box {
  border-radius: 4px;
  height: 25px;
  width: 44px;
  margin-right: 2px;
}

.green {
  background-color: #0f0;
  box-shadow: 0 0 20px #0f0;
}

.red {
  background-color: #f00;
  box-shadow: 0 0 20px #f00;
}

/* style modals*/
/*https://www.freecodecamp.org/news/how-to-build-a-modal-with-javascript/*/
/*style modal instruction*/
.modal-instruction {
  width: 700px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -355px;
  margin-top: -300px;
  background-color: #112948;
  font-size: 21px;
  color: #ddd;
  border-radius: 10%;
  transition: all .10s;
}

.modal-instruction>* {
  margin: 5%;
  line-height: 26px;
}

.modal-instructions>h3 {
  text-align: center;
  font-size: xx-large;
}

/*style modal username and leaderboard*/
.modal-username>*,
.modal-leaderboard {
  margin: 0;
  line-height: 30px;
}

.modal-leaderboard {
  width: 900px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -450px;
  margin-top: -300px;
  font-size: 26px;
  border-radius: 10%;
}

.modal-username {
  width: 300px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  background-color: #112948;
  font-size: 20px;
  color: #d8c6c6;
  border-radius: 10%;
  text-align: center;
}

.username,
.button-home {
  margin: 5% 5% 2% 10%;
}

input {
  width: 75%;
  margin: 5% 5% 2.5% 5%;
  height: 25px;
  padding: 5px;
}

.modal-instructions .modal-username .modal-leaderboard .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*overlay effect for modal*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.modal-instruction,
.modal-username,
.modal-leaderboard {
  z-index: 2;
}

/*style for btn to open modals*/
.btn-open-instruction,
.btn-open-username,
.btn-open-leaderboard,
.button-home,
.home-btn {
  background-color: #112948;
  color: #ddd;
  height: 60px;
  width: 60px;
  margin: 0 1%;
  text-align: center;
  align-items: center;
}

.sound-btn {
  color: #ddd;
  height: 50px;
  width: 50px;
  background-color: #112948;
  border-radius: 15%;
  margin: 0 1%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 0 20px #0783be;
  cursor: pointer;

}

/*style close buttons*/
.btn-close,
.button-home {
  background-color: #ddd;
  height: 30px;
  width: 10%;
  color: #0783be;
  border: 3px solid #0783be;
  float: right;
  display: block;
}
.btn-close:hover{
  color: #ddd;
  background-color: #0783be;
}
.save {
  background-color: #0783be;
  color: #d8c6c6;
  width: 80%;
  margin: 2.5% 10% 5% 10%;
  height: 35px;
  border-radius: 5%;
  font-size: 20px;
  box-shadow: none;
}
.save:hover{
  color: #0783be;
  background-color: #d8c6c6;
  border: none;
}
.instruction {
  margin: 0 5%;
  width: 5%;
}

.leaderboard:hover {
  background-color: #bfda46;
  color: rgb(136, 0, 0);
  border: 3px solid rgb(136, 0, 0);
}

.leaderboard {
  margin: 0;
  background-color: rgb(136, 0, 0);
  color: #bfda46;
  border: 3px solid #bfda46;
}

/*form level to choose difficulty*/
select#levels {
  height: 35px;
  font-size: 15px;
  background-color: #112948;
  color: #ddd;
  font-weight: bold;
  display: flex;
  border-radius: 15%;
  cursor: pointer;
  box-shadow: 0 0 20px #0783be;
}

/*div in header where are all buttons style container to divide icons left and right*/
#button-container {
  display: flex;
  align-items: center;
}

#button-container-child-one,
#button-container-child-two {
  width: 48%;
  margin: 0 1%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#button-container-child-two {
  justify-content: flex-end;
}

.push {
  margin-left: auto;
}

/*container finish game winning or losing message */
#message {
  width: 50%;
  margin: 1% 25%;
  flex-direction: column;
  text-align: center;
  background-color: #112948;
  border: 5px solid #d8c6c6;
  border-radius: 15%;
  text-shadow: 0 0 4px #ddd;
  box-shadow: 0 0 20px #0783be;
}

#won>*,
#lost>* {
  border: 5px solid #d8c6c6;

}

#winning-message,
#lost-message {
  text-align: center;
  font-size: 45px;
  margin: 3%;
  border: none;
}

.red-text {
  color: rgb(189, 10, 10);
}

/*Style text when chosen modality to play*/
#playing-level {
  font-size: 20px;
  float: right;
  width: 10%;
  margin-left: 5%;
}

/*Footer*/
.page-container {
  min-height: 100vh;
}

.container-footer {
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: #112948;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.container-footer>* {
  color: #ddd;
  margin: 0 2%;
  font-weight: bold;
}

i {
  font-size: 170%;
}

li{
  padding-left: 20px;
}
#modal-description{
  padding-bottom: 5px;
}

/*Style leaderboard container and children*/
.players {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  text-align: center;
  align-items: center;
  align-items: flex-start;
  justify-content: space-around;
}

.row {
  flex-direction: row;
}

.lightPlayers {
  background-color: #bfda46;

  box-shadow: 0 0 70px #0f0;
  color: #112948;
}

.darkPlayers {
  background-color: rgb(136, 0, 0);
  box-shadow: 0 0 70px #f00;
  color: #ddd;
}

.lightPlayers,
.darkPlayers {
  width: 85%;
  min-height: 300px;
  line-height: 40px;
  margin: 7.5%;
  border-radius: 15%;
  border: 5px solid #ffd0d0;

}

/*style for disabled buttons*/
.disabled {
  pointer-events: none;
  opacity: 0.3;
}


/*For screen with max-width of 1100 px-tablet size*/
@media screen and (max-width: 1100px) {
  .container-pick-side {
    width: 98%;
    margin: 5% 1% 1%;
}

  .page-container {
    min-height: 100vh;
  }

  .side {
    width: 70%;
    margin: 5% 3%;
    height: 400px;
  }

  .heading {
    font-size: 47px;
    margin-bottom: 3%;
  }

  .btn-open-instruction,
  .btn-open-username,
  .btn-open-leaderboard,
  .button-home,
  .home-btn {
    height: 45px;
    width: 45px;
    margin: 0 2%;
  }

  .sound-btn {
    height: 35px;
    width: 35px;
  }

  button,
  .sound-btn {
    font-size: 15px;
  }

  button {
    height: 70px;
  }

  select#levels {
    height: 25px;
    font-size: 12px;
  }

  .border-blue {
    border: 3px solid #0783be;
  }

  .border-green {
    border: 3px solid #bfda46;
  }

  .border-red {
    border: 3px solid rgb(136, 0, 0);
  }

  #message {
    width: 70%;
    margin: 1% 15%;
    text-align: center;
    padding: 5px;
  }

  .modal-instruction {
    font-size: 21px;
  }

  #game-area {
    height: 350px;
  }

  #winning-message,
  #lost-message {
    font-size: 34px;
  }

  .container-footer {
    height: 45px;
  }
  .modal-instruction {
    font-size: 19px;
    margin-top: -300px;
}
.modal-instruction>* {
  margin: 3% 1%;
  line-height: 23px;
  text-align: center;
  padding: 5px;
}
.modal-leaderboard {
  width: 700px;
  margin-left: -350px;
}
}
/*For screen with max-width of 850 px-tablet size*/
@media screen and (max-width: 850px) {
  .container-pick-side {
    flex-direction: column-reverse;
  }
  #question {
    margin: 4% 3%;
}
#score-container{
  margin: 5%;
}
.modal-username{
  margin-top: -300px;
}
#game-area{
  height: auto;
}
button {
  height: 80px;
  width: 80%;
  margin: 4% 10%;
}
.answer:hover {
  transform: none;
}
}

/*For screen with max-width of 700 px-tablet size*/
@media screen and (max-width: 700px) {
  .container-pick-side {
    flex-direction: column-reverse;
  }

  .side {
    width: 70%;
    margin: 5% 3%;
  }
  .modal-leaderboard {
    width: 500px;
    margin-left: -250px;
    margin-top: -150px;
    font-size: 24px;
  }
  .btn-open-instruction,
  .btn-open-username,
  .btn-open-leaderboard,
  .button-home,
  .home-btn{
    height: 35px;
    width: 35px;
    margin: 0 2%;
  } 
.sound-btn {
  height: 30px;
  width: 30px;
  margin: 0 2%;
  font-size: 10px;
}
.btn-close,
.button-home {
  height: 30px;
  width: 30px;
}
.save {
  width: 80%;
  margin: 2.5% 10% 5% 10%;
  height: 35px;
  font-size: 17px;
}
#won>*, #lost>* {
  border: 3px solid #d8c6c6;
}
#winning-message,
#lost-message {
  border: none;
}
#message {
  border: 4px solid #d8c6c6;
}
  button {
    font-size: 13px;
  }
  select#levels {
    height: 25px;
    font-size: 8px;
}

  #question {
    font-size: 25px;
  }
  .lightPlayers, .darkPlayers {
    width: 95%;
    line-height: 35px;
    margin: 2.5%;
    border: 4px solid #ffd0d0;
}
.modal-instruction {
  width: 400px;
  margin-left: -200px;
}
.modal-instruction>*{
  font-size: 14px;
}
.score-box {
  height: 18px;
  width: 25px;
}
 
}

/*For screen with max-width of 500 px-tablet size*/
@media screen and (max-width: 500px) {
  #game-area {
    width: 95%;
    height: 400px;
    margin: 0 2.5%;
  }
  .side {
    height: 250px;
}

  .page-container {
    min-height: 100vh;
  }

  #question {
    font-size: 19px;
    margin: 10% 3% 5% 3%;
  }

  button {
    font-size: 10px;
  }

  button {
    height: 55px;
    width: 80%;
    margin: 4% 10%;
  }
  .final-btn{
    height: 65px;
    margin: 8%;
  }
  .sound-btn {
    height: 28px;
    width: 28px;
}
  .heading {
    font-size: 37px;
  }

  .container-footer>* {
    font-size: 12px;
  }

  .score-box {
    height: 14px;
    width: 16px;
  }
   #message,
   #won>*,
    #lost>* {
    border: 2px solid #d8c6c6;
}
#winning-message,
#lost-message {
  font-size: 17px;
  border: none;
}
#message {
  margin: 10% 15%;
}
#dark-side, #light-side {
  border: 3px solid #ffd0d0;
}
#score-container{
  margin: auto;
}
.modal-leaderboard {
  width: 350px;
  margin-left: -175px;
  margin-top: -300px;
  font-size: 20px;
}
.lightPlayers, .darkPlayers {
  line-height: 32px;
  border: 3px solid #ffd0d0;
  min-height: 200px;
}
.leaderboard {
  margin: 0 25%;
  height: 20px;
  width: 20px;
}
.container-players{
  display: flex;
  flex-direction: column;
}
.lightPlayers, .darkPlayers {
  width: 60%;
  margin: 10% 10% 10% 20%;
  border: 3px solid #ffd0d0;
}
.modal-username {
  width: 220px;
  margin-left: -110px;
  font-size: 16px;
}
.btn-close, .button-home {
  height: 25px;
  width: 25px;
}
.save {
  width: 80%;
  margin: 2.5% 10% 5% 10%;
  height: 35px;
  font-size: 17px;
}
.modal-instruction {
  width: 250px;
  margin-left: -125px;
}
.modal-instruction>* {
  line-height: 19px;
}
}
@media screen and (max-width: 350px){
.heading {
    font-size: 30px;
}
}